###
# Misc
#
**/*.zip
**/*.localtest
**/*.bkp
/testing
/Output/*

# Editor / OS
**/.vscode
**/.idea
**/.DS_Store

###
# Node / TypeScript
#
**/node_modules
**/*.tsbuildinfo
**/npm-debug.log*
**/yarn-error.log*
**/coverage
**/.nyc_output
**/.env
**/.env.*

###
# AWS CDK
#
# Compiled construct output lives under cdk/dist (see cdk/.gitignore).
**/cdk.out
**/.cdk.staging
**/cdk.context.json
